---
import "../styles/docs.scss";
import "../styles/main.scss";
import { SEO } from "astro-seo";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import ArrowRightIcon from "../components/icons/ArrowRightIcon.astro";
import { getCollection, type CollectionEntry } from "astro:content";

type Props = CollectionEntry<"docs">["data"] & { slug: string };

const { title, description, group, order, titleBefore, section } = Astro.props;

interface ContentTitle {
  type: "title";
  value: string;
}

interface ContentLink {
  type: "link";
  value: string;
  toSlug?: string;
}

interface ContentDrop {
  type: "drop";
  value: string;
  children: ContentItem[];
}

type ContentItem = ContentTitle | ContentLink | ContentDrop;

const contents: ContentItem[] = [];

const parseSlug = (slug: string) => {
  const newSlug = slug === "index" ? "/" : slug;
  return newSlug.startsWith("/") ? newSlug : "/" + newSlug;
};

let docs = (await getCollection("docs")).sort(
  (a, b) => (a.data.order ?? 9999) - (b.data.order ?? 9999)
);

if (section) docs = docs.filter((v) => v.data.section === section);
let madeGroups: string[] = [];
let madeSections: string[] = [];
docs.forEach((v) => {
  if (
    v.data.section &&
    !madeSections.includes(v.data.section) &&
    v.data.section !== section
  ) {
    contents.push({
      type: "link",
      toSlug: parseSlug(v.slug),
      value: v.data.section,
    });
    madeSections.push(v.data.section);
    return;
  }

  if (v.data.titleBefore) {
    contents.push({
      type: "title",
      value: v.data.titleBefore,
    });
  }

  if (v.data.group) {
    if (madeGroups.includes(v.data.group.toLowerCase())) return;
    contents.push({
      type: "drop",
      value: v.data.group,
      children: docs
        .filter(
          (x) => x.data.group?.toLowerCase() === v.data.group?.toLowerCase()
        )
        .map((v) => ({
          type: "link",
          value: v.data.title,
          toSlug: parseSlug(v.slug),
        })),
    });
    madeGroups.push(v.data.group.toLowerCase());
    return;
  }
  contents.push({
    type: "link",
    toSlug: parseSlug(v.slug),
    value: v.data.title,
  });
});
---

<script>
  const sleep = (ms: number) =>
    new Promise((resolve) => setTimeout(resolve, ms));

  const parsePath = (path: string) => {
    return path.endsWith("/") ? path.slice(0, path.length - 1) : path;
  };

  let path = parsePath(window.location.pathname);
  const linkEls = document.querySelectorAll(".contents__link");
  linkEls.forEach((v) => {
    const elPath = parsePath(v.getAttribute("href") ?? "group");
    if (elPath === path) v.classList.add("active");
  });

  const els = document.getElementsByClassName("contents__drop");

  for (let el of els) {
    el = el as HTMLElement;

    const elButton: HTMLElement | null = el.querySelector("button");
    if (!elButton) continue;
    const dropContainer: HTMLElement | null =
      el.querySelector(".drop__container");
    if (!dropContainer) continue;
    const dropContent: HTMLElement | null =
      dropContainer.querySelector(".drop__content");
    if (!dropContent) continue;

    const height = dropContent.getBoundingClientRect().height;

    elButton.addEventListener("click", async () => {
      if (el.classList.contains("open")) {
        dropContainer.style.height = height + "px";
        await sleep(1);
        dropContainer.style.height = "0px";
        el.classList.remove("open");
        return;
      }
      el.classList.add("open");
      dropContainer.style.height = height + "px";
      await sleep(75);
      dropContainer.style.height = "auto";
    });
  }
</script>

<html lang="en">
  <head>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="apple-mobile-web-app-title" content="bradn docs 🌸" />
    <meta name="application-name" content="bradn docs 🌸" />
    <meta name="msapplication-TileColor" content="#9f00a7" />
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <title>{title + " | braden docs 🌸"}</title>
    <SEO
      title={title + " | braden docs 🌸"}
      description={description}
      charset="utf-8"
      openGraph={{
        basic: {
          title: (title as string) + " | braden docs 🌸",
          type: "website",
          image: "/favicon.svg",
        },
      }}
      twitter={{
        title: title + " | braden docs 🌸",
        description,
      }}
      ,
      extend={{
        meta: [{ name: "theme-color", content: "#FC5C7D" }],
      }}
    />
  </head>
  <body>
    <header class="header">
      <a href="/" class="header__logo"><h1>bradn</h1></a>
    </header>

    <main class="no-marg doc-table">
      <aside class="contents-table">
        <nav>
          {
            section !== undefined && (
              <a href="/" class="contents__section">
                <ArrowRightIcon /> {section}
              </a>
            )
          }
          {
            contents.map((v) => {
              function renderData(data: ContentItem) {
                switch (data.type) {
                  case "title": {
                    return <span class="contents__title">{data.value}</span>;
                  }
                  case "link": {
                    return (
                      <a
                        class="contents__link"
                        href={data.toSlug === undefined ? "" : data.toSlug}
                      >
                        {data.value}
                      </a>
                    );
                  }
                  case "drop": {
                    return (
                      <div class="contents__drop">
                        <button class="contents__link icon">
                          <ArrowRightIcon /> <span>{data.value}</span>
                        </button>
                        <div class="drop__container">
                          <div class="drop__content">
                            {data.children.map((v) => renderData(v))}
                          </div>
                        </div>
                      </div>
                    );
                  }
                  default: {
                    return;
                  }
                }
              }

              return renderData(v);
            })
          }
        </nav>
      </aside>
      <div class="content">
        <slot />
      </div>
      <aside class="page-contents"></aside>
    </main>
  </body>
</html>
